@media screen and (max-width: 700px){
    
    #navbar{
        flex-direction: column;
    }

    #services{
        flex-direction: column;
    }
}

/* Navigation */

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
    padding-bottom: 10px;
}

/* Home */

#home{
height: 350px;
padding: 3px 36px;
}

#home::before{
    height: 450px;
}

#home p{
    font-size: 18px;
}

/* Services */

#services .box{
        padding: 14px;
        margin: 20px 5px;
        margin-bottom: 20px;
    }

    #services .box img {
        /* height: 180px; */
        width: 180px;
        margin: auto;
        display: block;
        border-radius: 10px;
    }
    
    

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 80px;
    padding: 2px 6px;
}

/* Contact us section*/
#contact-box form{
    width: 80%;
}
/* Footer */

/* Utility classes */

.h-primary{
    font-size: 35px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}